*{
	margin: 0;
	padding: 0;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@400;500;700&display=swap');
body {
	font-family: 'rubik', sans-serif;
}
.heading {
  width: 1119px;
  height: 100px;
  padding: 50px 150px;

}

.link-box .logo-box  {
  float: left;
}

.logo {
  width: 100%;
}

.logo-box {
  width: 148px;
  height: 36px;
}

.ul-class-logo ,.li-class-logo {
  float: left;
  list-style-type: none;
}

.link-pad {
  margin-top: 20px;
}

.ul-class .li-class {
  float: left;
  list-style-type: none;
  padding-left: 120px;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #4F5665;
}

.sign-btn {
  width: 150px;
  height: 45px;
  border-radius: 50px;
  border: none;
  background-color: white;
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.sign-up {
  border: 1px solid #F53855;
  color: #F53855;
}

.sign-up:hover {
  background-color: red;
  color: #fff;
  transition: 1s;
}
.text {
	width: 50%;
	display: inline-block;
}
.h1 {
	width: 555px;
	margin-left: 40px;
	margin-bottom: 54px;
	font-size: 50px;
	font-weight: 500;
}
.paragraph {
	margin-left: 40px;
	margin-bottom: 100px;
	opacity: 0.7;
}

.button2 {
	margin-bottom: 50px;
	margin-left: 40px;
	font-size: 20px;
	width: 250px;
	height: 80px;
	border-radius: 15px;
	border: 0px;
	color: white;
	background-color: #F53838;
	box-shadow: 0px 12px 35px 0px rgba(250,8,8,1);
}
.button2:focus {
	background-color: white;
	color: red;
	border: 2px solid red;
	box-shadow: 0px 0px 0px 0px rgba(250,8,8,1);
}

.rasm {
	margin-top: 150px;
	width: 49%;
	display: inline-block;
	margin-bottom: 50px;
}
/*mana bu yergacha*/
.glavnidiv2 {
	border-radius: 20px;
	height: 177px;
	width: 1400px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 130px;
	margin-top: 65px;
	box-shadow: 0px 45px 70px 0px rgba(0,0,0,0.40);
}
.glavnidiv2 ul {
	padding: 37px 91px;
}
.glavnidiv2 ul .lists{
	float: left;
	width: 319px;
}
.bxs-check-circle {
	margin-top: 7px;
	font-size: 24px;
}
i {
	color: #F53838;
}
.list1,.list2 {
	width: 	319px;
	float: left;
}
.list2 {
	margin-left: 	200px;
	float: ;
}
.list3 {
	width: 	130px;
	float: right;
}
.icon {
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #FFECEC;
}
.ul {
	list-style: none;
}
.div10 {
	float: left;
	margin-left: 103px;
	margin-right: 200px;
	height: 190px;
	width: 30%;
	margin-top: 68px;
	text-align: center;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #FFECEC;
}
.span10 {
	float: right;
}
.span20 {
	float: right;
}
.span30 {
	float: right;
}
.div11{
	float: left;
}
strong {
	font-size: 22px;
}
.p10 {
	
	font-weight: 700;
}
.bxs-user, .bxs-map, .bxs-server {
	font-size: 25px;
	margin-top: 14px;
	text-align: center;
}
.div20 {
	margin-left: 200px;

	height: 190px;
	width: 30%;
	float: left;
	margin-top: 68px;
	text-align: center;
	width: 25px;
	height: 50px;
	border-radius: 50%;
	background-color: #FFECEC;
}
.div21{
	float: left;
}
.p20 {
	
	font-weight: 700;
}
.fa-location-dot {
	font-size: 25px;
	margin-top: 14px;
	text-align: center;
}
.div30 {
	margin-left: 342px;
	width: 30%;
	height: 190px;
	float: left;
	margin-top: 68px;
	text-align: center;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #FFECEC;
}
.div31{
	float: left;
}
.h4 {
	font-weight: bolder;
	margin-top: 0;
	display: inline-block;
}

.p30 {
	
	font-weight: 700;
}
.fa-server {
	text-align: right;
	font-size: 25px;
	margin-top: 14px;
}
/*rasm va ruyxta*/
.rasmvaruyxat {
	margin-right: 170px;
	width: 50%;
	margin-left: 70px;
	margin-bottom: 50px;
	display: inline-block;
}
.faqatruyxat {
	margin-right: 0;
	margin-bottom: 49px;
	display: inline-block;
}
.ruyxat {
	padding: 0;
	margin-top: 20px;
	list-style-type: none;
}
.li1 {
	margin-bottom: 20px;
}
/*aqobsh*/
.foter {
	background-color: #FAFAFA;
	width: 100%;
	height: 1100px;
}
.h100,.h500 {
	font-weight: 500;
}
.h100 {
	text-align: center;
}
.p100 {
	margin-top: 40px;
	margin-bottom: 100px;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
}
/*Aqibash 3 tasi*/

/*bu 1chisi*/
.div100 {
	margin-left: 188px;
	float: left;
	border-radius: 10px;
	background-color: white;
	border: 2px solid #DDDDDD;
	width: 330px;
	height: 760px;
}
.RASM10 {
	margin-top: 70px;
	width: 145px;
	height: 165px;
}
.h300 {
	margin-bottom: 30px;
	margin-top: 30px;
	font-size: 22px;
	font-weight: 500;
	font: rubik;
} 
.ul200 {
	text-align: center;
	list-style-type: none;
}
.lilar {
	margin-right: 30px;
	margin-top: 19px;
	margin-bottom: 19px;
}
.lilara {
	margin-right: 71px;
	margin-top: 17px;
	margin-bottom: 17px;
}
.h500 {
	margin-top: 165px;
}
.button120 {
	color: red;
	background-color: white;
	width: 177px;
	height: 45px;
	border-radius: 50px;
	border: 1px solid red;
}
.button120:focus {
	background-color: red;
	color: white;
}



/*bu2-si*/
.div1000:active {
	transition: 0.1s;
	border: 4px solid red;
}
.div1000 {
	margin-left: 100px;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	background-color: white;
	border: 2px solid #DDDDDD;
	width: 330px;
	height: 760px;
}
.RASM100 {
	margin-top: 70px;
	width: 145px;
	height: 165px;
}
.h00 {
	margin-bottom: 30px;
	margin-top: 30px;
	font-size: 18px;
	font-weight: 500;
	font: rubik;
} 
.ul00 {
	text-align: center;
	list-style-type: none;
}
.lilar {
	margin-top: 17px;
	margin-bottom: 17px;
}
.lilarr {
	margin-right: 98px;
}
.lilara {
	margin-right: 71px;
	margin-top: 19px;
	margin-bottom: 19px;
}
.boporcity,.boporcitys {
	font-weight: 400;
	opacity: 0.6;
}
.h500 {
	margin-top: 165px;
}
.button120 {
	color: red;
	background-color: white;
	width: 177px;
	height: 45px;
	border-radius: 50px;
	border: 1px solid red;
}
.button120:focus {
	background-color: red;
	color: white;
}

/*bu 3-si*/
.div1000 {
	margin-left: 100px;
	padding: 0;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	background-color: white;
	border: 2px solid #DDDDDD;
	width: 330px;
	height: 760px;
}
.RASM100 {
	margin-top: 70px;
	width: 145px;
	height: 165px;
}
.h00 {
	margin-bottom: 30px;
	margin-top: 30px;
	font-size: 22px;
	font-weight: 500;
	font: rubik;
} 
.ul00 {
	text-align: center;
	list-style-type: none;
}
.lilarrr {
	margin-right: 97px;
}
.lilar {
	margin-right: 71px;
	margin-top: 19px;
	margin-bottom: 19px;
}
.lilara {
	margin-right: 112px;
	margin-top: 17px;
	margin-bottom: 17px;
}
.h500 {
	font-weight: 500;
	font: rubik;
	margin-bottom: 20px;
	margin-top: 120px;
}
.button120 {
	color: red;
	background-color: white;
	width: 177px;
	height: 45px;
	border-radius: 50px;
	border: 1px solid red;
}
.button120:focus {
	background-color: red;
	color: white;
}
/*aqibash*/
.h1past {
	margin-bottom: 30px;
	text-align: center;
	font-size: 35px;
	font: 500;
}
.paqibash {
	opacity: 0.9;
	text-align: center;
}
.rasmkarta {
	margin-top: 200px;
	margin-left: 220px;
	text-align: center;
}
li{
	list-style-type:none;
}
.div10000{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.rasmlogo {
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
		width: 1400px;
}

.divchat {
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
	height: 500px;
}
.pchat,.h1chat {
	text-align: center;
	margin-top: 30px;
}
.pchat {
	margin-bottom: 50px;
}
.chat-box-1 {
	margin-left: 20px;
	border: 2px solid gray;
	float: left;
	width: 415px;
	height: 230px;
	box-shadow: 0px 12px 63px -22px rgba(13,16,37,1);
	border-radius: 10px;
}
.chat-box-1:hover {
	border: 2px solid red;
}

.chat-box-2 {
	margin-right: 30px;
	float: right;
	width: 415px;
	height: 230px;
	box-shadow: 0px 12px 63px -22px rgba(13,16,37,1);
	border: 2px solid gray;
	border-radius: 10px;
}
.chat-box-2:hover {
	border: 2px solid red;
}

.chat-box-3 {
	border: 2px solid gray;
	margin-right: 50px;
	float: right;
	width: 415px;
	height: 230px;
	box-shadow: 0px 12px 63px -22px rgba(13,16,37,1);
	border-radius: 10px;
}
.chat-box-3:hover {
	border: 2px solid red;
}

.ras-modam-1 {
	padding: 15px 15px;
	float: left;
}
b {
	font-size: 14px;
	font-weight: 400;
}
h5 {
	margin-top: 20px;
	float: left;
}
.fa-star {
	margin-top: 25px;
	margin-left: 150px;
	float: leftf;
}
.box-1-p {
	size: 1rem;
	font-weight: 400;
	margin-left: 20px;
	float: left;
}

.button-1 {
	margin-left: 66px;
	border: 0;
	border-radius: 30px;
	background-color: red;
	width: 45px;
	height: 15px;
}
.button-2 {
	border: 0;
	background-color: gray;
	border-radius: 50%;
	width: 15px;
	height: 15px;
}
.button-3{
	margin-bottom: 30px;
	margin-right: 200px;
	float: right;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 0;
	background-color: red;
}
.fa-arrow-right:focus{
	color: white;
}
.button-4 {
	margin-bottom: 30px;
	margin-right: 20px;
	float: right;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid	red;
	background-color: white;
}
.button-4:focus {
	background-color: red;
}
.fa-rotate-180:focus {
	color: #fff;

}

.button-3:focus {
	background-color: white;
}

.aqibtarash {
	margin-bottom: 100px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	box-shadow: 0px 12px 63px -22px rgba(13,16,37,1);
	border-radius: 10px;
	width: 1240px;
	height: 233px;
}

.box1 {
	float: left;
	width: 500px;
	height: 200px;
}
.box-p {
	margin-left: 50px;
	margin-top: 20px;
	padding: 0.8;
}
.box-h2{
	margin-left: 50px;
	font-size: 35px;
	font: 500;
	margin-top: 80px;
}

.box2 {
	text-align: center;
	float: right;
	width: 500px;
	height: 200px;
}
.button-box {
	margin-top: 85px;
	font-size: 20px;
	width: 250px;
	height: 80px;
	border-radius: 15px;
	border: 0px;
	color: white;
	background-color: #F53838;
	box-shadow: 0px 12px 35px 0px rgba(250,8,8,1);
}
.button-box:focus {
	background-color: white;
	color: red;
	border: 2px solid red;
	box-shadow: 0px 0px 0px 0px rgba(250,8,8,1);
}



.footer-box {
	padding: 0;
	background-color: #F8F8F8;
	width: 100%;
	height: 370px;
}
/*iconko*/
.ul-iconka {
	float: left;
}
.span-icon-1 {
	margin-right: 15px;
	display: inline-block;
	box-shadow: 0px 6px 35px 0px rgba(34, 60, 80, 0.2);
	width: 35px;
	height: 35px;
	text-align: center;
	border-radius: 50%;
}
.bxl-facebook,.bxl-twitter,.bxl-instagram-alt {
	margin-top: 7px;
	font-size: 22px;
}
.li-oporsity {
	opacity: 0.6;
}
li {
	margin-top: 25px;
}

.ul-text {
	float: left;
}

.ul-text-2 {
	margin-right: 100px;
	float: left;
}
.ul-text-3 {
	
	float: left;
}
.box-left {
	padding-left: 50px;
	float: left;
	width: 40%;
}
.box-center {
	float: left;
	width: 20%;
.box-center-2 {
	float: left;
	width: 20%;
}
.box-right {
	float: left;
	width: 20%;
}
